[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "==1.0.2"
Flask-Admin = "==1.5.3"
Flask-Bcrypt = "==0.7.1"
Flask-DebugToolbar = "==0.10.1"
Flask-Login = "==0.4.1"
Flask-Mail = "==0.9.1"
Flask-SQLAlchemy = "==2.4.0"
Flask-WTF = "==0.14.2"
gunicorn = "==19.9.0"
itsdangerous = "==1.1.0"
pytz = "==2019.1"
structlog = "==19.1.0"
termcolor = "==1.1.0"
environs = "==4.1.2"
WTForms = "==2.2.1"
stripe = "==2.21.0"
psycopg2-binary = "==2.8.2"
fastai = "==1.0.46"
click = "==7.0"

[dev-packages]

[requires]
python_version = "3.7"

[packages.24386c3]
file = "https://download.pytorch.org/whl/cpu/torch-1.1.0-cp37-cp37m-linux_x86_64.whl"
