{% extends "layout.html" %}

{% block content %}

	<div id="index-banner" class="parallax-container">
			<div class="section no-pad-bot">
			  <div class="container">
				<br><br>
				<div class="row center">
					<img src="{{ url_for('static', filename='img/logo_256.png') }}" alt="Doctor Logo">
				</div>
				<h1 class="header center">AI Respiratory Doctor</h1>
				<div class="row center">
				  <h5 class="header col s12 light">Scan medical chest x-rays for 14 different diseases using AI</h5>
				</div>
				<div class="row center">
				  <a href="{{ url_for('userbp.signup') }}" class="btn-large waves-effect waves-light red darken-2">Sign Up</a>
				</div>
				<br><br>
		
			  </div>
			</div>
			<div class="parallax"><img src="{{ url_for('static', filename='img/computer-doctor.jpg') }}" alt="Doctor using a computer background" style="filter: brightness(60%) blur(4px);"></div>
		  </div>
		
		
		  <div class="container">
			<div class="section">
		
			  <!--   Icon Section   -->
			  <div class="row">
				<div class="col s12 m4">
				  <div class="icon-block">
					<h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
					<h5 class="center">Over 93% Accuracy</h5>
		
					<p class="light">Our results are precise. Only 7% of analyzed x-rays were classified incorrectly during our extensive testing so you can be assured that what we say about your x-rays is true. </p>
				  </div>
				</div>
		
				<div class="col s12 m4">
				  <div class="icon-block">
					<h2 class="center brown-text"><i class="material-icons">group</i></h2>
					<h5 class="center">Advanced Powerful AI</h5>
		
					<p class="light">Using over 100,000 anonymized chest x-ray images from more than 30,000 patients our AI will quickly and accurately classify your x-rays. We use the latest advancements in machine learning to process your data.</p>
				  </div>
				</div>
		
				<div class="col s12 m4">
				  <div class="icon-block">
					<h2 class="center brown-text"><i class="material-icons">settings</i></h2>
					<h5 class="center">Easy & Simple to Use</h5>
		
					<p class="light">Simply select your images and upload them though our straight forward dashboard and get results in second. Powerful computers will return your results almost instantly. </p>
				  </div>
				</div>
			  </div>
		
			</div>
		  </div>
		
		
		  <div class="parallax-container valign-wrapper">
			<div class="section no-pad-bot">
			  <div class="container">
				<div class="row center">
				  <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
				</div>
			  </div>
			</div>
			<div class="parallax"><img src="{{ url_for('static', filename='img/background2.jpg') }}" alt="Unsplashed background img 2"></div>
		  </div>
		
		  <div class="container">
			<div class="section">
		
			  <div class="row">
				<div class="col s12 center">
				  <h3><i class="mdi-content-send brown-text"></i></h3>
				  <h4>Contact Us</h4>
				  <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
				</div>
			  </div>
		
			</div>
		  </div>
		
		
		  <div class="parallax-container valign-wrapper">
			<div class="section no-pad-bot">
			  <div class="container">
				<div class="row center">
				  <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
				</div>
			  </div>
			</div>
			<div class="parallax"><img src="{{ url_for('static', filename='img/background3.jpg') }}" alt="Unsplashed background img 3"></div>
		  </div>

{% endblock %}
