{% import "macros.html" as m %}
<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>{{ title }} - AI Respiratory Doctor</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

	<!-- Materialize.css Icons -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Main CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	{% endblock %}
</head>
<body>		
	<!-- Navbar -->
	{% if current_user.is_authenticated %}
		<ul id="dropdown-account" class="dropdown-content">
			<li><a href="/user/account">My Account</a></li>
			<li><a href="/user/signout">Sign Out</a></li>
			{{ m.nav_link('pay', 'Pay') }}
		</ul>
	{% endif %}

	<nav class="red darken-3" role="navigation">
		<div class="nav-wrapper container">
			<a id="logo-container" href="/" class="brand-logo">AI Respiratory Doctor</a>
			<a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
			<ul class="right hide-on-med-and-down">
				{{ m.nav_link('map', 'Map') }}
				{% if current_user.is_authenticated %}
					{{ m.nav_link('predict', 'Predict') }}
					<li><a class="dropdown-trigger" href="#" data-target="dropdown-account">{{ current_user.first_name }}<i class="material-icons right">settings</i></a></li>
				{% else %}
					<li><a href="/user/signin">Sign In</a></li>
					<li><a href="/user/signup">Sign Up</a></li>
				{% endif %}
			</ul>

			<ul class="sidenav" id="nav-mobile">
				{{ m.nav_link('map', 'Map') }}
				{% if current_user.is_authenticated %}
					{{ m.nav_link('predict', 'Predict') }}
					<li><a href="/user/account">My Account</a></li>
					<li><a href="/user/signout">Sign Out</a></li>
					{{ m.nav_link('pay', 'Pay') }}
				{% else %}
					<li><a href="/user/signin">Sign In</a></li>
					<li><a href="/user/signup">Sign Up</a></li>
				{% endif %}
			</ul>
		</div>
	</nav>

	{% block content %}{% endblock %}

	{% block footer %}
	<footer class="page-footer red darken-3">
		<div class="container">
			<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">AI Respiratory Doctor</h5>
				<p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
	
	
			</div>
			<div class="col l3 s12">
				<h5 class="white-text">Settings</h5>
				<ul>
				<li><a class="white-text" href="#!">Link 1</a></li>
				<li><a class="white-text" href="#!">Link 2</a></li>
				<li><a class="white-text" href="#!">Link 3</a></li>
				<li><a class="white-text" href="#!">Link 4</a></li>
				</ul>
			</div>
			<div class="col l3 s12">
				<h5 class="white-text">Connect</h5>
				<ul>
				<li><a class="white-text" href="#!">Link 1</a></li>
				<li><a class="white-text" href="#!">Link 2</a></li>
				<li><a class="white-text" href="#!">Link 3</a></li>
				<li><a class="white-text" href="#!">Link 4</a></li>
				</ul>
			</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
			&copy; <script>document.write(new Date().getFullYear());</script>, Designed and Coded by <a class="orange-text" href="https://haydenhousen.com">Hayden Housen</a>
			</div>
		</div>
	</footer>
	{% endblock %}

	<!-- Scripts -->
	<!-- jQuery -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<!-- Materialize.css -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" integrity="sha256-U/cHDMTIHCeMcvehBv1xQ052bPSbJtbuiw4QA9cTKz0=" crossorigin="anonymous"></script>
	<!-- Custom JS -->
	<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
	
	<!-- Message flashing -->
	{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
			{% for category, message in messages %}
				<script>
					$( document ).ready(function() {
						M.toast({html: '{{ message }}'});
					});
				</script>
			{% endfor %}
	{% endif %}
	{% endwith %}

	{% block final %}{% endblock %}
</body>
</html>
