{# myapp/templates/macros.html #}

<!-- Highlight the current tab -->
{% macro nav_link(endpoint, text) %}
	{% if request.endpoint is not none %}
		{% if request.endpoint.endswith(endpoint) %}
			<li class="active"><a href="{{ url_for(endpoint) }}">{{ text }}</a></li>
		{% else %}
			<li><a href="{{ url_for(endpoint) }}">{{ text }}</a></li>
		{% endif %}
	{% else %}
		<li><a href="{{ url_for(endpoint) }}">{{ text }}</a></li>
	{% endif %}
{% endmacro %}

<!-- Render a WTForm form's field (with it's possible associated errors) from a WTForms form -->
{% macro render_field(field) %}
	{{ field(name_=field.name, id=field.name, class_="field") }}
	<label for={{ field.name }}>{{ field.name|title }}</label>
  	{% if field.errors %}
    	<ul>
	    	{% for error in field.errors %}
	      		<li class="form-error">{{ error }}</li>
	    	{% endfor %}
    	</ul>
  	{% endif %}
{% endmacro %}