{% extends "layout.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.css" integrity="sha256-e47xOkXs1JXFbjjpoRr1/LhVcqSzRmGmPqsrUQeVs+g=" crossorigin="anonymous" />
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.js" integrity="sha256-cs4thShDfjkqFGk5s2Lxj35sgSRr4MRcyccmi0WKqCM=" crossorigin="anonymous"></script>
{% endblock %}
{% block content %}

<div class="container">
    <div class="section">
        <h1 class="center-align">AI Predictor</h1>
    </div>
</div>

<div class="container">
    <div class="section">
        <form class="dropzone" action="/predict-api" id="uploadFile" method="post" type="file" name="file" enctype="multipart/form-data">
            <div class="fallback">
                <input name="file" type="file" multiple />
            </div>
        </form>
    </div>
    <div id="results" class="section" style="display:none;">
        <h3 class="center-align">Results</h3>
        <ul class="collapsible popout"></ul>
    </div>
</div>
{% endblock %}

{% block final %}
<script>
    $(document).ready(function(){
        $('.collapsible').collapsible();
    });
      
    Dropzone.options.uploadFile = {
        paramName: "file", // The name that will be used to transfer the file
        uploadMultiple: true,
        parallelUploads: 5,

        maxFilesize: 2, // MB
        init: function() {
            this.on("successmultiple", function(file, data) {
                console.log('Success!' + data);
                $('#results').css('display', 'block');
                jQuery.each(JSON.parse(data), function (name, predictions) {
                    var eachrow = "";
                    jQuery.each(predictions, function (key, value) { 
                        eachrow += "<tr>"
                                + "<td>" + key + "</td>"
                                + "<td>" + value + "</td>"
                                + "</tr>";
                    });
                    var collapsible="<li>"
                                    + "<div class='collapsible-header'><i class='material-icons'>image</i>" + name + "</div>"
                                    + "<div class='collapsible-body'><span>" + "<table class='striped highlight'><thead><tr><th>Category</th><th>Percent</th></tr></thead><tbody>" + eachrow + "</tbody></table>" + "</span></div>"
                                    + "</li>"
                    $(collapsible).appendTo('.collapsible').hide().fadeIn();
                });
            });
        }
    };
    </script>
{% endblock %}